<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AuraThreads | Grace Woven into Every Thread</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
	rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary"
		style="background-color: #e3f2fd;" data-bs-theme="light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/index">Navbar</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/index">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/saree">Saree</a></li>
					<li class="nav-item"><a class="nav-link" href="/suit">Kurti</a></li>
					<li class="nav-item"><a class="nav-link" href="/tshirt">T-Shirt</a>
					</li>
				</ul>


				<!-- Search Icon Trigger -->

				<button class="nav-link" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#searchOffcanvas" aria-controls="searchOffcanvas">
					<i class="bi bi-search" style="padding: 30px;"></i>
				</button>



				<!-- Icons -->

				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item me-3"><a class="nav-link" href="/wishlist"
						title="Wishlist"><i class="bi bi-heart"></i> </a></li>
					<li class="nav-item me-3"><a class="nav-link" href="/cart"
						title="View Cart"><i class="bi bi-bag"></i></a></li>
					<li class="nav-item"><a href="#" class="nav-link"
						data-bs-toggle="modal" data-bs-target="#signinModal"
						title="Sign In"> <i class="bi bi-person fs-5"></i>
					</a></li>

				</ul>

			</div>
		</div>
	</nav>

	<footer class="text-center p-4 mt-5 bg-light">
		<p>&copy; 2025 AuraThreads. All Rights Reserved.</p>
	</footer>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>